/pertemuan2/nbproject/private/
/pertemuan2/build/
/Latihan/nbproject/private/
/Karyawan/nbproject/private/
/Karyawan/build/
/Karyawan/dist/
/123200129_Tugas2/nbproject/private/
/123200129_Tugas2/build/
/123200129_Tugas2/dist/
